
<div class="Home all-100 half-top-space">

  <section class="module parallax parallax-1">
    <div class="container">
      <div class="column-group all-100 push-center push-middle">
        <div class="all-50">
          <figure class="ink-image bottom-space">
            <img src="img/landing.png" class="imagequery">
          </figure>
        </div>
      </div>
    </div>
  </section>

  <!--<section class="module content">-->
    <!--<div class="container">-->
      <div class="ink-grid">
        <div class="column-group all-100 push-center half-top-space">
          <% if not logged_in? %>
              <div class="Register all-90 push-middle left-padding right-padding ">
                <div class="all-50 push-left half-top-space">
                  <h1>New to SARYAN?</h1>
                </div>
                <div class="all-50 push-right align-right half-top-space">
                  <%= button_to "Register", register_path, :method => :get, class: "ink-button black all-50" %>
                </div>
              </div>
          <% end %>
        </div>
          <div class="column-group all-100 align-center horizontal-gutters padding top-space bottom-space">
            <div class="xlarge-33 large-33 medium-33 small-100 tiny-100 padding">
              <h1>Test</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="xlarge-33 large-33 medium-33 small-100 tiny-100 padding">
              <h1>Test</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
            <div class="xlarge-33 large-33 medium-33 small-100 tiny-100 padding">
              <h1>Test</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </div>
          </div>
      </div>
    <!--</div>-->
  <!--</section>-->

  <section class="module parallax parallax-2">
    <div class="container">
      <h3>The future of academic planning</h3>
    </div>
  </section>

  <div class="ink-grid">
    <div class="column-group all-100 align-center horizontal-gutters padding top-space bottom-space">
      <div class="xlarge-50 large-50 medium-50 small-100 tiny-100 padding">
        <h1>Test</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="xlarge-50 large-50 medium-50 small-100 tiny-100 padding">
        <h1>Test</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
    </div>
  </div>

<%= render 'layouts/footer' %>

</div>

<script type="text/javascript">
    (function(){

        var parallax = document.querySelectorAll(".parallax"),
                speed = .5;

        window.onscroll = function(){
            [].slice.call(parallax).forEach(function(el,i){
                if(i == 0) {
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed) + "px";
                }
                else{
                    var windowYOffset = window.pageYOffset,
                            elBackgrounPos = "50%" + (windowYOffset * speed + 300) + "px";
                }

                el.style.backgroundPosition = elBackgrounPos;

            });
        };

    })();
</script>