<% provide(:title, 'Saryan') %>
<div class="clearfix_200"></div>
<div class="column-group all-100 push-center push-middle horizontal-gutters">
	<div class="all-50 order-r1">
		<figure class="ink-image bottom-space">
		  <img src="img/landing.png" class="imagequery">
          <% if not logged_in? %>
		  <figcaption style="background:rgba(255, 255, 255, 0.7)">
		  	<center>
		  		<h2>New to SARYAN?</h2>
	    		<%= button_to "Register", register_path, :method => :get, class: "ink-button black" %>
		    </center>
		  </figcaption>
          <% end %>
		</figure>
	</div>
	<div class="all-100 order-r2">
	</div>
</div>


