<% provide(:title, 'Saryan') %>
<div class="column-group horizontal-gutters">
	<div class="all-100 order-r1">
		<figure class="ink-image bottom-space">
		  <img src="img/bg1080.jpg" class="imagequery">
		  <figcaption class="over-bottom">
		  	<center>
		  		<h2>Welcome to SARYAN</h2>
	    		<%= button_to "Register", register_path, :method => :get, class: "ink-button black" %>
		    </center>
		  </figcaption>
		</figure>
	</div>
	<div class="all-100 order-r2">
	</div>
</div>