<% provide(:title, 'PLanner') %>
<div class="clearfix_10 all-100"></div>
  <div class="column-group horizontal-gutters">
        <!--Planner-->
        <div class="Planner xlarge-70 large-70 medium-60 small-50 tiny-100 order-1 order-r1" style="background:rgba(255, 255, 255, 0.7)">

            <div class="clearfix_10"></div>
            <div class="column-group all-100 push-center order-r1"><h3>Planner</h3></div>

            <!--SEMESTER-->
            <div class="column-group all-100 push-center bottom-space order-r2">
                <div class="column-group all-10 push-left right-space order-1">
                    <div class="all-100 align-left push-middle"><h5>Fall&nbsp2015</h5></div>
                </div>
                <div class="column-group all-80 push-right order-2" style="border: 1px solid black;">
                  <div class="column-group all-100 push-center">
                    <!-- Class -->
                        <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-1">
                         <div class="small align-center horizontal-space">
                            <h5>_Title</h5>
                            <p>_Name</p>
                            <p>_Units</p>
                         </div>
                      </div>
                        <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-2">
                      <div class="small align-center horizontal-space">
                        <h5>_Title</h5>
                        <p>_Name</p>
                        <p>_Units</p>
                      </div>
                    </div>
                        <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-3">
                          <div class="small align-center horizontal-space">
                            <h5>_Title</h5>
                            <p>_Name</p>
                            <p>_Units</p>
                          </div>
                        </div>
                        <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-4">
                          <div class="small align-center horizontal-space">
                            <h5>_Title</h5>
                            <p>_Name</p>
                            <p>_Units</p>
                          </div>
                        </div>
                        <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-5">
                          <div class="small align-center horizontal-space">
                            <h5>_Title</h5>
                            <p>_Name</p>
                            <p>_Units</p>
                          </div>
                        </div>
                        <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-6">
                          <div class="small align-center horizontal-space">
                            <h5>_Title</h5>
                            <p>_Name</p>
                            <p>_Units</p>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

          <!--SEMESTER-->
          <div class="column-group all-100 push-center bottom-space order-r3">
            <div class="column-group all-10 push-left right-space order-1">
              <div class="all-100 align-left push-middle"><h5>Fall&nbsp2015</h5></div>
            </div>
            <div class="column-group all-80 push-right order-2" style="border: 1px solid black;">
              <div class="column-group all-100 push-center">
                <!-- Class -->
                <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-1">
                  <div class="small align-center horizontal-space">
                    <h5>_Title</h5>
                    <p>_Name</p>
                    <p>_Units</p>
                  </div>
                </div>
                <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-2">
                  <div class="small align-center horizontal-space">
                    <h5>_Title</h5>
                    <p>_Name</p>
                    <p>_Units</p>
                  </div>
                </div>
                <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-3">
                  <div class="small align-center horizontal-space">
                    <h5>_Title</h5>
                    <p>_Name</p>
                    <p>_Units</p>
                  </div>
                </div>
                <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-4">
                  <div class="small align-center horizontal-space">
                    <h5>_Title</h5>
                    <p>_Name</p>
                    <p>_Units</p>
                  </div>
                </div>
                <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-5">
                  <div class="small align-center horizontal-space">
                    <h5>_Title</h5>
                    <p>_Name</p>
                    <p>_Units</p>
                  </div>
                </div>
                <div class="box xlarge-17 large-15 medium-30 small-30 tiny-30 push-middle order-6">
                  <div class="small align-center horizontal-space">
                    <h5>_Title</h5>
                    <p>_Name</p>
                    <p>_Units</p>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>
        <!-- Pot -->
        <div class="Pot xlarge-30 large-30 medium-40 small-50 tiny-100 order-2 order-r1">

              <div class="column" style="background:rgba(255, 255, 255, 0.7)">
                <div class="clearfix_10"></div>
                    <div class="column-group all-90 push-center order-r1">
                        <div class="column-group all-100 order-r1"><h3> Courses </h3></div>
                        <div class="Course all-100 medium order-r1" >
                          <h3>Course_Title</h3>
                          <h4>Course_Name</h4>
                          <p>Units: units_num</p>
                        </div>
                        <div class="Course all-100 medium order-r2">
                          <h3>Course_Title</h3>
                          <h4>Course_Name</h4>
                          <p>Units: units_num</p>
                        </div>
                        <div class="Course all-100 medium order-r3">
                          <h3>Course_Title</h3>
                          <h4>Course_Name</h4>
                          <p>Units: units_num</p>
                        </div>
                    </div>
                <div class="clearfix_25"></div>
              </div>

        </div>
  </div>
