<% provide(:title, 'PLanner') %>
<div class="clearfix_10 all-100"></div>
  <div class="column-group horizontal-gutters">
        <!--Planner-->
        <div class="Planner xlarge-70 large-70 medium-60 small-50 tiny-100 order-1 order-r1" style="background:rgba(255, 255, 255, 0.7)">

            <div class="clearfix_10"></div>
            <div class="column-group all-100 push-center order-r1"><h3>Planner</h3></div>

            <!--SEMESTER-->
            <div class="column-group all-100 push-center bottom-space order-r2">
                <div class="column-group all-10 push-left right-space order-1">
                    <div class="all-100 align-left push-middle"><h5>Fall&nbsp2015</h5></div>
                </div>
                <div class="column-group all-80 push-right order-2" style="border: 1px solid black;">
                     <div class="column-group all-100 push-center push-middle">
                        <ul class="droppable-2 all-95">

                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- Pot -->
        <div class="Pot xlarge-30 large-30 medium-40 small-50 tiny-100 order-2 order-r1">

              <div class="column" style="background:rgba(255, 255, 255, 0.7)">
                <div class="clearfix_10"></div>
                    <div class="column-group all-90 push-center order-r1">
                        <div class="column-group all-100 order-r1"><h3> Courses </h3></div>
                          <ul class="droppable-1 all-auto">
                            <li class="ink-label align-center blue">
                              Title1 Name Units
                            </li>
                            <li class="ink-label align-center blue">
                              Title2 Name Units
                            </li>
                            <li class="ink-label align-center blue">
                              Title3 Name Units
                            </li>
                          </ul>
                    </div>
                <div class="clearfix_25"></div>
              </div>
        </div>

    <script>
        Ink.requireModules(['Ink.UI.Draggable_1', 'Ink.UI.Droppable_1'], function (Draggable, Droppable) {
            draggableLiElements = Ink.ss('.droppable-1 li');
            new Draggable(draggableLiElements[0], {})
            new Draggable(draggableLiElements[1], {})
            new Draggable(draggableLiElements[2], {})
            Droppable.add('.droppable-1', {onDrop: 'move', onDropOut: 'revert'});
            Droppable.add('.droppable-2', {onDrop: 'move', onDropOut: 'revert'});
        })
    </script>
  </div>
