<% provide(:title, 'PLanner') %>
<div class="clearfix_10 all-100" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
     xmlns="http://www.w3.org/1999/html"></div>
  <div class="column-group push-center horizontal-gutters">
        <!--Planner-->
        <div class="Planner xlarge-65 large-55 medium-55 small-100 tiny-100 push-center horizontal-gutters order-1 order-r1 half-top-space" >

            <div class="clearfix_10"></div>
            <div class="column-group all-100 push-left order-r1"><h3>Plan</h3></div>

              <!-- SEMESTER-->
              <div id="Semesters">
                  <div  class="Semester column-group all-95 push-middle order-r2">
                      <div class="all-100 push-right" style="padding-top: 7px">
                        <p class="tip">Fall 2015</p>
                        <ul id="Fall2015" class="droppable-2 all-100">
                        </ul>
                      </div>
                  </div>
              </div>

            <!--END SEMESTER-->
            <div class="column all-95 align-right half-top-space half-bottom-space condensed">
              <button id="SemAdd" class="ink-button align-center order-3 ">+</button>
            </div>
        </div>
        <!--END PLANNER -->

        <!-- Pot -->
        <div class="Pot xlarge-30 large-40 medium-40 small-100 tiny-100 push-center horizontal-gutters  order-2 order-r1 half-top-space">
          <!-- TABS-->
          <div id="Tabs" class="ink-tabs top all-95" data-prevent-url-change="true" data-active="#P">
              <ul class="tabs-nav" style="background-color: inherit;">
                <li id="PT"><a class="tabs-tab" href="#P">Plans</a></li>
                <li id="CT"><a class="tabs-tab" href="#C">Courses</a></li>
              </ul>

              <!-- PLANS-->
              <div id="P" class="tabs-content">
                <div class="column-group all-100 push-center">

                    <!--COURSE FROM PLAN ADD-->
                    <div class="column all-95 order-r1 half-top-space condensed">
                      <button id="GETog" class="PlanTog ink-button all-100 "
                              onclick="showCat('GE')">General Education</button>
                      <div id="GE" class="Category ink-flex half-top-space">
                        <div class="column-group all-95  push-center push-middle half-top-space">
                            <div class="all-100"><h5>Area A:</h5></div>
                            <div class="PlanButtonDiv gutters all-100 align-center condensed-200 small half-bottom-space">
                              <button id="A1-B" class="PlanCourseB ink-button align-center order-1"  onclick="showCard('A1-CC')">A1</button>
                              <button id="A2-B" class="PlanCourseB ink-button align-center order-2" onclick="showCard('A2-CC')">A2</button>
                              <button id="A3-B" class="PlanCourseB ink-button align-center order-3" onclick="showCard('A3-CC')">A3</button>
                            </div>
                        </div>
                      </div>
                    </div>

                    <div class="column all-95 order-r2 half-top-space condensed">
                      <button id="MajTog" class="PlanTog ink-button all-100"
                              onclick="showCat('Maj')">Major Business</button>
                      <div id="Maj" class="Category ink-flex half-top-space">
                        <div class="column-group all-95 push-center push-middle half-top-space">
                          <div class="all-100 "><h5>Business Pool</h5></div>
                          <div class="PlanButtonDiv gutters all-100 align-center condensed-200 small half-bottom-space">
                            <button id="Math71-B" class="PlanCourseB ink-button align-center order-1" onclick="showCard('Math71-CC')">Math<br>71</button>
                            <button id="Engl2-B" class="PlanCourseB ink-button align-center order-2" onclick="showCard('Engl2-CC')">Engl<br>2</button>
                            <button id="Bus1_20-B" class="PlanCourseB ink-button align-center order-3" onclick="showCard('Bus1_20-CC')">Bus1<br>20</button>
                            <button id="Bus2_90-B" class="PlanCourseB ink-button align-center order-4" onclick="showCard('Bus2_90-CC')">Bus2<br>90</button>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="column all-95 order-r3  half-top-space condensed">
                      <button id="ConsTog" class="PlanTog ink-button all-100" onclick="showCat('Cons')">Concentration</button>
                      <div id="Cons" class="Category ink-flex half-top-space">
                        <div class="column-group all-95  push-center push-middle half-top-space">
                          <div class="all-100"><h5>Management Information Systems Core</h5></div>
                          <div class="PlanButtonDiv gutters all-100 align-center condensed-200 small half-bottom-space">
                            <button id="Bus4_92-B" class="PlanCourseB ink-button align-center order-1" onclick="showCard('Bus4_92-CC')">Bus4<br>92</button>
                            <button id="Bus4_110A-B" class="PlanCourseB ink-button align-center order-2" onclick="showCard('Bus4_110A-CC')">Bus4<br>110A</button>
                            <button id="Bus4_110B-B" class="PlanCourseB ink-button align-center order-3" onclick="showCard('Bus4_110B-CC')">Bus4<br>110B</button>
                          </div>
                        </div>
                      </div>
                    </div>

                </div>
                <div class="clearfix_25"></div>
              </div>
              <!-- END PLANS-->

              <!-- COURSES-->
              <div id="C" class="tabs-content">
                <div class="column-group all-95 push-center order-r1">
                  <!-- SEARCH-->
                  <div class="column all-100 push-middle">
                      <form class="search ink-form">
                            <div class="control-group column-group horizontal-gutters half-left-space half-top-space">
                              <label for="seach" class="all-20 align-left">Search:</label>
                              <div class="control xlarge-70 large-100 medium-100 small-100 tiny-100 ">
                                <input type="text" name="search" id="search">
                              </div>
                            </div>
                      </form>
                  </div>
                  <!-- CLASS CARDs-->
                  <div class="ClassCards ink-flex all-100">
                      <div class="column-group all-100">

                        <!--COURSE FROM PLAN ADD RED-->
                        <!-- CC-->
                        <div id="A1-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>A1</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="A1-CCD" class="droppable-CC all-100 half-left-space red">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center red"
                                  data-tip-html="<p>Title: A1</p><p>Name: GE</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                A1
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--END CC -->
                        <!-- CC-->
                        <div id="A2-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>A2</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="A2-CCD" class="droppable-CC all-100 half-left-space red">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center red"
                                  data-tip-html="<p>Title: A2</p><p>Name: GE</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                A2
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--END CC -->
                        <!-- CC-->
                        <div id="A3-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>A3</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="A3-CCD" class="droppable-CC all-100 half-left-space red">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center red"
                                  data-tip-html="<p>Title: A3</p><p>Name: GE</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                A3
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!--END CC -->

                        <!--COURSE FROM PLAN ADD ORANGE-->
                        <!-- CC-->
                        <div id="Math71-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                                <p>Calculus</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                                <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                              <ul id="Math71-CCD" class="droppable-CC all-100 half-left-space orange">
                                <li id="Course" class="ink-tooltip ink-label push-middle align-center orange"
                                    data-tip-html="<p>Title: Math 71</p><p>Name: Calculus</p><p>Units: 3</p>"
                                    data-tip-where="down"
                                    data-tip-color="black">
                                  Math<br>71
                                </li>
                              </ul>
                          </div>
                        </div>
                        <!-- END CC -->
                        <!-- CC-->
                        <div id="Engl2-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>English</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="Engl2-CCD" class="droppable-CC all-100 half-left-space orange">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center orange"
                                  data-tip-html="<p>Title: Engl 2</p><p>Name: Calculus</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                Engl<br>2
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- END CC -->
                        <!-- CC-->
                        <div id="Bus1_20-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>Business</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="Bus1_20-CCD" class="droppable-CC all-100 half-left-space orange">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center orange"
                                  data-tip-html="<p>Title: Bus1 20</p><p>Name: Calculus</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                Bus1<br>20
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- END CC -->
                        <!-- CC-->
                        <div id="Bus2_90-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>Business</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="Bus2_90-CCD" class="droppable-CC all-100 half-left-space orange">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center orange"
                                  data-tip-html="<p>Title: Bus2 90</p><p>Name: Calculus</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                Bus2<br>90
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- END CC -->

                        <!--COURSE FROM PLAN ADD BLUE-->
                        <!-- CC-->
                        <div id="Bus4_92-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>Business</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="Bus4_92-CCD" class="droppable-CC all-100 half-left-space blue">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center blue"
                                  data-tip-html="<p>Title: Bus4 92</p><p>Name: Business</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                Bus4<br>92
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- END CC -->
                        <!-- CC-->
                        <div id="Bus4_110A-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>Business</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="Bus4_110A-CCD" class="droppable-CC all-100 half-left-space blue">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center blue"
                                  data-tip-html="<p>Title: Bus4 110A</p><p>Name: Business</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                Bus4<br>110A
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- END CC -->
                        <!-- CC-->
                        <div id="Bus4_110B-CC" class="ClassCard column all-100 horizontal-gutters half-top-space">
                          <div class="all-70 push-right half-top-space">
                            <div class="all-50 push-left align-left large order-r2">
                              <p>Business</p>
                            </div>
                            <div class="all-40 push-left align-right large order-r3">
                              <p>Units: 3</p>
                            </div>
                            <div class="CCDescription all-100 push-left align-left small condensed-100 order-r4">
                              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                          </div>
                          <div class="all-30 push-left order-r1">
                            <ul id="Bus4_110B-CCD" class="droppable-CC all-100 half-left-space blue">
                              <li id="Course" class="ink-tooltip ink-label push-middle align-center blue"
                                  data-tip-html="<p>Title: Bus4 110B</p><p>Name: Business</p><p>Units: 3</p>"
                                  data-tip-where="down"
                                  data-tip-color="black">
                                Bus4<br>110B
                              </li>
                            </ul>
                          </div>
                        </div>
                        <!-- END CC -->

                      </div>
                  </div>
                  <style>
                    .ClassCard{
                        display: none;
                        background: #282828 none repeat scroll 0 0;
                        box-shadow: 0px 0px 5px black;
                        border: 1px solid #dad3c6;
                        border-radius: 5px;
                        color: #fff;
                        font-size: 0.938em;
                        font-weight: 300;

                    }
                    .ClassCard p{
                        padding-top: .3em;
                        padding-bottom: .3em;
                        margin-bottom: 0em;
                    }
                    .CCDescription p{
                        margin-right: 5px;
                        margin-bottom:5px;
                    }
                    .droppable-CC.red {
                        border: 2px dashed #c91111;
                    }
                    .droppable-CC.blue {
                        border: 2px dashed #0f75da;
                    }
                    .droppable-CC.orange {
                        border: 2px dashed #ff9c00;
                    }
                    .droppable-CC{
                        background: #282828 none repeat scroll 0 0;

                        list-style-type: none;
                        padding: 0em 0.0em;
                        /*padding: 0.5em 1em*/
                        border-radius: 5px;
                        height: 75px;
                        width: 75px;
                    }
                    .droppable-CC ::after{
                        clear: both;
                        content: "";
                        display: table;
                    }
                    .droppable-CC li{

                        height: 80px;
                        width: 80px;
                        /*padding-top: .5em;*/
                        /*padding-bottom: .5em;*/
                        margin: .05em .05em;
                        float: left;
                    }

                  </style>
                  <!-- END CLASS CARD-->
                </div>
                <div class="clearfix_25"></div>
              </div>
              <!-- END COURSES-->
          </div>
          <!-- END TABS-->

        </div>
        <!-- END POTS-->

<!-- <button id="delete" class="delete ink-button small" onclick="removeClass()">X</button>-->
    <script>
        Ink.requireModules([
            'Ink.UI.Draggable_1',
            'Ink.UI.Droppable_1',
            'Ink.UI.Toggle_1',
            'Ink.Dom.Loaded_1',
            'Ink.Dom.Event_1',
            'Ink.Dom.Selector_1',
            'Ink.UI.Tabs_1'], function (Draggable, Droppable, Toggle, Loaded, InkEvent, Selector, Tabs ) {

//          COURSE FROM PLAN ADD
            new Draggable('#A1-CCD li', {})
            Droppable.add('#A1-CCD', {onDrop: 'move', onDropOut: 'revert'});
            new Draggable('#A2-CCD li', {})
            Droppable.add('#A2-CCD', {onDrop: 'move', onDropOut: 'revert'});
            new Draggable('#A3-CCD li', {})
            Droppable.add('#A3-CCD', {onDrop: 'move', onDropOut: 'revert'});

            new Draggable('#Math71-CCD li', {})
            Droppable.add('#Math71-CCD', {onDrop: 'move', onDropOut: 'revert'});
            new Draggable('#Engl2-CCD li', {})
            Droppable.add('#Engl2-CCD', {onDrop: 'move', onDropOut: 'revert'});
            new Draggable('#Bus1_20-CCD li', {})
            Droppable.add('#Bus1_20-CCD', {onDrop: 'move', onDropOut: 'revert'});
            new Draggable('#Bus2_90-CCD li', {})
            Droppable.add('#Bus2_90-CCD', {onDrop: 'move', onDropOut: 'revert'});

            new Draggable('#Bus4_92-CCD li', {})
            Droppable.add('#Bus4_92-CCD', {onDrop: 'move', onDropOut: 'revert'});
            new Draggable('#Bus4_110A-CCD li', {})
            Droppable.add('#Bus4_110A-CCD', {onDrop: 'move', onDropOut: 'revert'});
            new Draggable('#Bus4_110B-CCD li', {})
            Droppable.add('#Bus4_110B-CCD', {onDrop: 'move', onDropOut: 'revert'});

            Droppable.add('#Fall2015', {onDrop: 'move'});


            var tabsObj = new Tabs('#Tabs');


            var semester = ['Fall', 'Winter', 'Spring', 'Summer'];
            var date = new Date();
            var i = 1;

            function addSemester(){
                var year = date.getFullYear();
                var newID = semester[i]+year;
                var newDiv =
                        '<div class="Semester column-group all-95 push-middle order-r4">' +
                        '<div class="all-100 push-right" style="padding-top: 7px">' +
                        '<p class="tip">'+ semester[i] + ' ' + year +'</p>' +
                        '<ul id="'+newID+'" class="droppable-2 all-100">' +
                        '</ul>' +
                        '</div>' +
                        '</div>';
                newID = '#' + newID;
                $("#Semesters").append(newDiv);
                Droppable.add(newID, {onDrop: 'move'});
                i++;
                if(i == 4){
                    i = 0;}
                else if(i == 2){
                    date.setYear(year + 1);}

            }

            function changeTab(id){
                tabsObj.changeTab('#C');
            }
            function addEvents() {

//              COURSE FROM PLAN ADD
                InkEvent.on(Ink.s('#A1-B') ,'click',changeTab);
                InkEvent.on(Ink.s('#A2-B') ,'click',changeTab);
                InkEvent.on(Ink.s('#A3-B') ,'click',changeTab);

                InkEvent.on(Ink.s('#Math71-B') ,'click',changeTab);
                InkEvent.on(Ink.s('#Engl2-B') ,'click',changeTab);
                InkEvent.on(Ink.s('#Bus1_20-B') ,'click',changeTab);
                InkEvent.on(Ink.s('#Bus2_90-B') ,'click',changeTab);

                InkEvent.on(Ink.s('#Bus4_92-B') ,'click',changeTab);
                InkEvent.on(Ink.s('#Bus4_110A-B') ,'click',changeTab);
                InkEvent.on(Ink.s('#Bus4_110B-B') ,'click',changeTab);
                InkEvent.on(Ink.s('#SemAdd') ,'click',addSemester);

            }
            function initProject(){
                addEvents();
            }
            Loaded.run(function() {
                initProject();
            });

        });
//
        function showCard(id){
            $("#"+id).siblings().hide();
            document.getElementById(id).style.display = 'block';
        }

//        Ink.requireModules([], function (Toggle) {
//            new Toggle('#GETog');
//            new Toggle('#MajTog');
//            new Toggle('#ConsTog');
//        })
        function showCat(id){
            if(id.localeCompare('GE') != 0)
                document.getElementById('GE').style.display = 'none';
            if(id.localeCompare('Maj') != 0)
                document.getElementById('Maj').style.display = 'none';
            if(id.localeCompare('Cons') != 0)
                document.getElementById('Cons').style.display = 'none';
            var e = document.getElementById(id);
            if(e.style.display == 'block')
                e.style.display = 'none';
            else
                e.style.display = 'block';
        }

        function removeClass(){
            var elem = document.getElementById('Course');
            elem.parentNode.removeChild(elem);
            return false;
        }

    </script>
    <style>

         .droppable-2::after {
            clear: both;
            content: "";
            display: table;
        }
        .droppable-2 {
            background: #e4dfd6 none repeat scroll 0 0;
            border: 1px solid #dad3c6;
            border-radius: 2px;
            list-style-type: none;
            min-height: 3.5em;
            padding: 0.5em 1em;}

        .droppable-1 li{
            padding-top: .5em;
            padding-bottom: .5em;
            float: left;
        }

        .droppable-2 li {
            float: left;
            padding: 0.5em;}

    </style>
  </div>
