/* line 1, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/sessions.scss */
body {
  background: url(/assets/students1-0efde1c0c8903d0f34bc290ee0430e39fdbf31a719dda4b257018f914e10e525.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
