/* line 13, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  -webkit-transform: scale3d(1, 1, 1);
  top: 0;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
}
/* line 33, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li {
  font-size: 14px;
  background: none;
}
/* line 37, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li a {
  background: none;
  padding: .7em 1em;
  color: white;
  font-weight: 300;
  line-height: 24px;
}
/* line 46, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li a:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}
/* line 55, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li a.logoPlaceholder {
  text-transform: uppercase;
  background: none;
  margin-right: .5em;
  padding: .4em 0;
  font-weight: 500;
  font-size: 1.4em;
}
/* line 63, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li button.fa-bars {
  background: transparent none repeat scroll 0 0;
  font-size: 1.2em;
  color: #bbb;
  border: 0;
  padding: .8em .8em .8em 0;
  float: left;
}
/* line 71, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar ul.menu {
  background: none;
}

/* line 79, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul.black li button.fa-bars:active,
#topbar .ink-navigation ul.black li button.fa-bars:focus,
#topbar .ink-navigation ul.black li button.fa-bars:hover {
  color: #fff;
  outline: 0;
}

/* line 86, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer, body.ink-drawer .right-drawer {
  background: #1e1e1e;
}

/* line 91, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer li, body.ink-drawer .right-drawer li {
  display: block;
  margin: 0;
  font-weight: 300;
}

/* line 97, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer ul, body.ink-drawer .right-drawer ul {
  margin: 59px 0 0;
  padding: 0;
  list-style-type: none;
}

/* line 103, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer li > a:hover, body.ink-drawer .right-drawer li > a:hover {
  background: #333;
  color: #FFF;
}

/* line 108, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer li > a, body.ink-drawer .right-drawer li > a {
  display: block;
  padding: 6px 15px;
  color: #bbb;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .875em;
}

/* line 119, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image {
  position: relative;
  border: none;
}

/* line 124, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > img {
  width: 100%;
}

/* line 127, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption {
  padding: 1em;
  background: #fff;
  font-weight: 300;
  line-height: 24px;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

/* line 137, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image h2 {
  font-weight: 300;
  line-height: 24px;
}

/* line 141, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.over-top, figure.ink-image > figcaption.over-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}

/* line 147, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.over-top.dark, figure.ink-image > figcaption.over-bottom.dark {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

/* line 151, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.over-top {
  top: 0;
  background: rgba(255, 255, 255, 0.7);
}

/* line 155, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.over-bottom {
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
}

/* line 159, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.dark {
  color: #fff;
  background: #222;
}

/* line 166, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Footer {
  color: white;
  font-size: 14px;
  font-weight: 300;
  background: #1e1e1e;
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.5);
}
/* line 179, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Footer p {
  font-weight: 300;
  padding-top: 20px;
}
/* line 184, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Footer ul li a {
  color: white;
  font-weight: 300;
}
/* line 189, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Footer ul li a:hover {
  text-decoration: none;
  color: #51cbee;
}
