/* line 5, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
div.box {
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: lightgray;
  padding: 1px;
}

/* line 13, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
#Course {
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  width: 70px;
  height: 70px;
  text-align: center;
  font-size: small;
}

/* line 28, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
div.Semester {
  border-bottom: 1px solid lightgray;
}

/* line 33, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
div.Planner {
  border-radius: 5px;
}

/* line 39, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
div.Pot, div.PotB {
  border-radius: 5px;
}

/* line 54, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.right-drawer {
  border-radius: 3px;
  box-shadow: 0px 0px 5px black;
  background: rgba(255, 255, 255, 0.7);
}

/* line 63, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.tab-nav {
  border: 1px solid #dad3c6;
  background: rgba(228, 228, 228, 0.7);
}

/* line 67, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.tabs-tab {
  border: 1px solid #dad3c6;
  background: rgba(228, 228, 228, 0.6);
  color: #555555;
}

/* line 72, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.tabs-tab:hover {
  text-decoration: none;
  color: dimgrey;
}

/* line 76, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.ink-tabs .tabs-nav li.active a {
  color: black;
  background: rgba(255, 255, 255, 0.7);
}

/* line 83, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.PlanCourseB {
  font-size: 0.5em;
  height: 60px;
  width: 60px;
  float: inherit;
  position: relative;
  background: #282828 none repeat scroll 0 0;
  box-shadow: 0px 0px 2.5px #fff;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;
}

/* line 101, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
#GE button {
  border: 2px dashed #c91111;
}

/* line 105, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
#Maj button {
  border: 2px dashed #ff9c00;
}

/* line 109, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
#Cons button {
  border: 2px dashed #0f75da;
}

/* line 113, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.ink-toggle {
  border-radius: 5px;
  background-color: rgba(150, 150, 150, 0.8);
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
}

/* line 122, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.PlanTog {
  border-radius: 3px;
  background: #282828 none repeat scroll 0 0;
  box-shadow: 0px 0px 5px black;
  color: #fff;
  font-weight: 300;
  line-height: 24px;
}

/* line 139, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.PlanTog:hover {
  color: white;
  background: #1e1e1e;
  background: -webkit-linear-gradient(#1e1e1e, #4d4d4d);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1e1e1e, #4d4d4d);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1e1e1e, #4d4d4d);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1e1e1e, #4d4d4d);
  /* Standard syntax */
  box-shadow: 0px 0px 5px black;
}

/* line 150, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.PlanTog:active, .PlanTog:focus {
  color: white;
  background: #cccccc;
  background: -webkit-linear-gradient(#cccccc, #4d4d4d);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cccccc, #4d4d4d);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cccccc, #4d4d4d);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cccccc, #4d4d4d);
  /* Standard syntax */
  box-shadow: 0px 0px 5px black;
}

/* line 165, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
#SemAdd {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0);
  box-shadow: 0px 0px 1px black;
  color: dimgrey;
  border: 1px solid #dad3c6;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
}

/* line 175, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
#SemAdd:hover {
  background-color: rgba(150, 150, 150, 0.3);
}

/* line 181, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.Category {
  display: none;
  border-radius: 5px;
  background-color: rgba(100, 100, 100, 0.75);
  background: #cccccc;
  background: -webkit-linear-gradient(#cccccc, grey);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cccccc, grey);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cccccc, grey);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cccccc, grey);
  /* Standard syntax */
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
  color: #282828;
}

/* line 196, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.Category h5 {
  color: #1e1e1e;
  font-weight: 400;
  line-height: 24px;
}

/* line 204, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.ClassCard {
  display: none;
  background: #282828 none repeat scroll 0 0;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
  border-radius: 5px;
  color: #fff;
  font-size: 0.9em;
  font-weight: 300;
}

/* line 217, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.ClassCard p {
  padding-top: .1em;
  padding-bottom: .3em;
  margin-bottom: 0em;
}

/* line 222, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.CCDescription p {
  margin-right: 5px;
  margin-bottom: 5px;
}

/* line 229, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-CC.red {
  border: 2px dashed #c91111;
}

/* line 232, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-CC.blue {
  border: 2px dashed #0f75da;
}

/* line 235, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-CC.orange {
  border: 2px dashed #ff9c00;
}

/* line 238, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-CC {
  background: #282828 none repeat scroll 0 0;
  list-style-type: none;
  padding: 0em 0.0em;
  /*padding: 0.5em 1em*/
  border-radius: 5px;
  height: 74px;
  width: 74px;
}

/* line 248, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-CC ::after {
  clear: both;
  content: "";
  display: table;
}

/* line 253, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-CC li {
  height: 70px;
  width: 70px;
  /*padding-top: .5em;*/
  /*padding-bottom: .5em;*/
  margin: 0em;
  padding: 0em;
  float: left;
}

/* line 263, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.Semester p {
  padding-bottom: 0em;
  padding-top: 5px;
  margin: 0em;
}

/* line 268, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
#Course {
  height: 70px;
  width: 70px;
}

/* line 274, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-2::after {
  clear: both;
  content: "";
  display: table;
}

/* line 279, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-2 {
  background: #e4dfd6 none repeat scroll 0 0;
  border: 1px solid #dad3c6;
  border-radius: 2px;
  list-style-type: none;
  min-height: 4em;
  margin-top: 0em;
  margin-bottom: 5px;
}

/* line 289, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.droppable-2 li {
  float: left;
  padding: 0.5em;
}

/* line 293, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.ink-label {
  margin-left: 0.2em;
}

/* line 297, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.ink-label.blue, .ink-label.orange, .ink-label.red {
  position: relative;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;
}

/* line 309, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.ink-tooltip.black {
  background: #282828 none repeat scroll 0 0;
  position: relative;
  box-shadow: 0px 0px 7px black;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;
  min-width: 20em;
}

/* line 323, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.delete {
  background: 0,0,0,0;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  border-radius: 3px;
}

/* line 332, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.search {
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
}

/* line 337, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.delete {
  display: none;
}

/* line 339, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
.delete:hover {
  background: 0,0,0,0;
  color: red;
  border-color: red;
}

/* line 344, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/planner.scss */
#Course:hover .delete {
  display: block;
}
