/* line 13, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/saryan.scss */
#topbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
  -webkit-transform: scale3d(1, 1, 1);
  top: 0;
  -webkit-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.75);
}
/* line 33, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li {
  font-size: 14px;
  background: none;
}
/* line 37, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li a {
  background: none;
  padding: .7em 1em;
  color: white;
  font-weight: 300;
  line-height: 24px;
}
/* line 46, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li a:hover {
  color: #fff;
  text-decoration: none;
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
}
/* line 55, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li a.logoPlaceholder {
  text-transform: uppercase;
  background: none;
  margin-right: .5em;
  padding: .4em 0;
  font-weight: 500;
  font-size: 1.4em;
}
/* line 63, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul li button.fa-bars {
  background: transparent none repeat scroll 0 0;
  font-size: 1.2em;
  color: #bbb;
  border: 0;
  padding: .8em .8em .8em 0;
  float: left;
}
/* line 71, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar ul.menu {
  background: none;
}

/* line 79, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
#topbar .ink-navigation ul.black li button.fa-bars:active,
#topbar .ink-navigation ul.black li button.fa-bars:focus,
#topbar .ink-navigation ul.black li button.fa-bars:hover {
  color: #fff;
  outline: 0;
}

/* line 86, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer, body.ink-drawer .right-drawer {
  background: #1e1e1e;
}

/* line 91, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer li, body.ink-drawer .right-drawer li {
  display: block;
  margin: 0;
  font-weight: 300;
}

/* line 97, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer ul, body.ink-drawer .right-drawer ul {
  margin: 59px 0 0;
  padding: 0;
  list-style-type: none;
}

/* line 103, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer li > a:hover, body.ink-drawer .right-drawer li > a:hover {
  background: #333;
  color: #FFF;
}

/* line 108, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
body.ink-drawer .left-drawer li > a, body.ink-drawer .right-drawer li > a {
  display: block;
  padding: 6px 15px;
  color: #bbb;
  text-decoration: none;
  text-transform: uppercase;
  font-size: .875em;
}

/* line 119, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image {
  position: relative;
  border: none;
}

/* line 124, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > img {
  width: 100%;
}

/* line 127, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption {
  padding: 1em;
  background: #fff;
  font-weight: 300;
  line-height: 24px;
  -webkit-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 5px 3px rgba(0, 0, 0, 0.5);
}

/* line 137, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image h2 {
  font-weight: 300;
  line-height: 24px;
}

/* line 141, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.over-top, figure.ink-image > figcaption.over-bottom {
  position: absolute;
  width: 100%;
  left: 0;
  border: none;
}

/* line 147, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.over-top.dark, figure.ink-image > figcaption.over-bottom.dark {
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
}

/* line 151, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.over-top {
  top: 0;
  background: rgba(255, 255, 255, 0.7);
}

/* line 155, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.over-bottom {
  bottom: 0;
  background: rgba(255, 255, 255, 0.7);
}

/* line 159, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
figure.ink-image > figcaption.dark {
  color: #fff;
  background: #222;
}

/* line 166, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Footer {
  color: white;
  font-size: 14px;
  font-weight: 300;
  background: #1e1e1e;
  -webkit-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.5);
}
/* line 179, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Footer p {
  font-weight: 300;
  padding-top: 20px;
}
/* line 184, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Footer ul li a {
  color: white;
  font-weight: 300;
}
/* line 189, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Footer ul li a:hover {
  text-decoration: none;
  color: #51cbee;
}

/* line 197, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home {
  /* ============================================================
    PRIMARY STRUCTURE
  ============================================================ */
  /* ============================================================
    SECTIONS
  ============================================================ */
}
/* line 199, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home h1 {
  font-weight: 300;
  font-size: 2.5em;
}
/* line 204, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home h1.blue {
  color: #0f75da;
}
/* line 208, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home h1.red {
  color: #c91111;
}
/* line 211, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home h1.green {
  color: #ff9c00;
}
/* line 215, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home .Register {
  background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.75);
}
/* line 224, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home .Register .RegButton {
  padding-top: 22px;
}
/* line 229, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home .ink-button.black {
  border-radius: 3px;
}
/* line 232, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home .ink-button.black:hover {
  -webkit-box-shadow: 0px 0px 3px 2px #51cbee;
  -moz-box-shadow: 0px 0px 3px 2px #51cbee;
  box-shadow: 0px 0px 3px 2px #51cbee;
}
/* line 247, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home .container {
  max-width: 960px;
  margin: 0 auto;
}
/* line 255, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module:last-child {
  margin-bottom: 0;
}
/* line 258, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module h2 {
  margin-bottom: 40px;
  font-weight: 300;
  line-height: 24px;
}
/* line 265, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
/* line 271, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module p:last-child {
  margin-bottom: 0;
}
/* line 274, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module.content {
  padding: 40px 0;
}
/* line 277, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
/* line 281, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 5px white;
}
/* line 292, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module.parallax h3 {
  color: white;
  font-size: 40px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
  text-shadow: 0 0 5px black;
}
/* line 302, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module.parallax-1 {
  background-image: url("plan4.jpg");
  background-size: cover;
  -moz-box-shadow: inset  0  8px 8px -8px #000000, inset  0 -8px 8px -8px #000000;
  -webkit-box-shadow: inset  0  8px 8px -8px #000000, inset  0 -8px 8px -8px #000000;
  box-shadow: inset  0  8px 8px -8px #000000, inset  0 -8px 8px -8px #000000;
}
/* line 315, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
.Home section.module.parallax-2 {
  background-image: url("students1.jpg");
  background-size: cover;
  -moz-box-shadow: inset  0  8px 8px -8px #000000, inset  0 -8px 8px -8px #000000;
  -webkit-box-shadow: inset  0  8px 8px -8px #000000, inset  0 -8px 8px -8px #000000;
  box-shadow: inset  0  8px 8px -8px #000000, inset  0 -8px 8px -8px #000000;
}
@media all and (min-width: 600px) {
  /* line 329, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
  .Home section.module h2 {
    font-size: 42px;
  }
  /* line 332, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
  .Home section.module p {
    font-size: 20px;
  }
  /* line 335, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
  .Home section.module.parallax {
    padding: 200px 0;
  }
  /* line 338, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
  .Home section.module.parallax h1 {
    font-size: 48px;
  }
}
@media all and (min-width: 960px) {
  /* line 343, /home/n0r7h/Workspace/saryan/app/assets/stylesheets/common/navigation.scss */
  .Home section.module.parallax h1 {
    font-size: 100px;
  }
}
