// Place all the styles related to the Planner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.box{
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: lightgray;
  padding: 1px;
}

#Course{
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  width: 70px;
  height: 70px;

  text-align: center;
  font-size: small;
}

div.Semester{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;

}

div.Planner{
  border-radius: 5px;
  background:rgba(255, 255, 255, 0.7)
}

div.Pot{
  border-radius: 5px;
  background:rgba(255, 255, 255, 0.7)
}
.right-drawer{
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  background:rgba(255, 255, 255, 0.7);
  //max-height: 60%;
}
.tab-nav{
  border: 1px solid #dad3c6;
  background: rgba(228, 228, 228, .7);
}
.tabs-tab{
  border: 1px solid #dad3c6;
  background: rgba(228, 228, 228, .7);
}
.PlanCourseB{
  font-size: 0.5em;
  height: 60px;
  width: 60px;
  float: inherit;

  position: relative;
  box-shadow: 0px 0px 2.5px #fff;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;
  //padding-top: 5em;
  //padding-bottom: .5em;
}

#GE button{
  background: #c91111 none repeat scroll 0 0;
}
#Maj button{
  background: #ff9c00 none repeat scroll 0 0;
}
#Cons button{
  background: #0f75da none repeat scroll 0 0;
}
.ink-toggle{
  border-radius: 5px;
  background-color: rgba(150,150,150,.8);
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
}
.PlanTog{
  border-radius: 5px;
  background-color: rgba(150,150,150,.8);
  background: #282828 none repeat scroll 0 0;
  box-shadow: 0px 0px 5px black;
  color: #fff;
}
#SemAdd{
  border-radius: 5px;
  background-color: rgba(255,255,255, 0);
  box-shadow: 0px 0px 1px black;
  color: dimgrey;
  border: 1px solid #dad3c6;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
#SemAdd:hover{
  background-color: rgba(150,150,150,.3);
}
.Category{
  display: none;
  border-radius: 5px;
  background-color: rgba(100,100,100,.75);
  background: #282828 none repeat scroll 0 0;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
  color: #fff;
}
.Category h5{color: #fff;}

.ink-label{margin-left: 0.2em;}

.ink-label.blue, .ink-label.orange, .ink-label.red {
  //background: #0f75da none repeat scroll 0 0;
  //display: inline-block;
  position: relative;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;}

.ink-tooltip.black {
  background: #282828 none repeat scroll 0 0;
  //display: inline-block;
  position: relative;
  box-shadow: 0px 0px 7px black;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;}

.delete{
  background: 0,0,0,0;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  border-radius: 3px;
}

.search{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
}
// Show/Hide delete button.
.delete {display: none;  }

.delete:hover{
  background: 0,0,0,0;
  color: red;
  border-color: rgb(255,0,0);  }

#Course:hover .delete{
  display: block
}