// Place all the styles related to the Planner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.box{
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: lightgray;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
}

div.Course{
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

div.Sem{

}

div.Planner{}

div.Pot{}