// Place all the styles related to the Planner controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.box{
  border-color: black;
  border-style: solid;
  border-width: 1px;
  background-color: lightgray;
  padding: 1px;
}

#Course{
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;

  width: 70px;
  height: 70px;

  text-align: center;
  font-size: small;
}

div.Semester{
  //border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
}

div.Planner{
  border-radius: 5px;
  //background:rgba(255, 255, 255, 0.7)
  //background: grey;
}

div.Pot, div.PotB{
  border-radius: 5px;
  //background:rgba(255, 255, 255, 0.7)
  //background: grey;
}
div.PotB {
  //padding: 1em;
  //background: #cccccc;
  //background: -webkit-linear-gradient(#cccccc, grey); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(#cccccc, grey); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(#cccccc, grey); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(#cccccc, grey); /* Standard syntax */
  //border: 1px solid white;
  //box-shadow: 0px 0px 5px black;
}
.right-drawer{
  border-radius: 3px;
  box-shadow: 0px 0px 5px black;
  background:rgba(255, 255, 255, 0.7);
  //max-height: 60%;
}

// TABS

.tab-nav{
  border: 1px solid #dad3c6;
  background: rgba(228, 228, 228, .7);
}
.tabs-tab{
  border: 1px solid #dad3c6;
  background: rgba(228, 228, 228, .6);
  color:#555555;
}
.tabs-tab:hover{
  text-decoration: none;
  color: dimgrey;
}
.ink-tabs .tabs-nav li.active a {
  color:black;
  background: rgba(255, 255, 255, .7);
}

//END TABS

.PlanCourseB{
  font-size: 0.5em;
  height: 60px;
  width: 60px;
  float: inherit;
  position: relative;
  background: #282828 none repeat scroll 0 0;
  box-shadow: 0px 0px 2.5px #fff;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;
  //padding-top: 5em;
  //padding-bottom: .5em;
}

#GE button{
  border: 2px dashed #c91111;
  //background: #c91111 none repeat scroll 0 0;
}
#Maj button{
  border: 2px dashed #ff9c00;
  //background: #ff9c00 none repeat scroll 0 0;
}
#Cons button{
  border: 2px dashed #0f75da;
  //background: #0f75da none repeat scroll 0 0;
}
.ink-toggle{
  border-radius: 5px;
  background-color: rgba(150,150,150,.8);
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
}

//PLAN TOGGLE BUTTONS

.PlanTog{
  border-radius: 3px;
  //border: 1px solid #282828;
  //background-color: rgba(150,150,150,.8);

  background: #282828 none repeat scroll 0 0;
  //background: #cccccc;
  //background: -webkit-linear-gradient(#cccccc, grey); /* For Safari 5.1 to 6.0 */
  //background: -o-linear-gradient(#cccccc, grey); /* For Opera 11.1 to 12.0 */
  //background: -moz-linear-gradient(#cccccc, grey); /* For Firefox 3.6 to 15 */
  //background: linear-gradient(#cccccc, grey); /* Standard syntax */
  box-shadow: 0px 0px 5px black;
  color: #fff;
  font-weight: 300;
  line-height: 24px;
  //color: white;
}
.PlanTog:hover{
  //background: #282828 none repeat scroll 0 0;
  color: white;
  background: #1e1e1e;
  background: -webkit-linear-gradient(#1e1e1e, #4d4d4d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#1e1e1e, #4d4d4d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#1e1e1e, #4d4d4d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#1e1e1e, #4d4d4d); /* Standard syntax */
  box-shadow: 0px 0px 5px black;
  //border: 1px solid #282828;
}
.PlanTog:active, .PlanTog:focus{
  //background: grey none repeat scroll 0 0;
  color: white;
  background: #cccccc;
  background: -webkit-linear-gradient(#cccccc, #4d4d4d); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cccccc, #4d4d4d); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cccccc, #4d4d4d); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cccccc, #4d4d4d); /* Standard syntax */
  box-shadow: 0px 0px 5px black;
  //border: 1px solid #282828;
}

//END PLAN TOGGLE BUTTON
//ADD SEMESTER BUTTON

#SemAdd{
  border-radius: 5px;
  background-color: rgba(255,255,255, 0);
  box-shadow: 0px 0px 1px black;
  color: dimgrey;
  border: 1px solid #dad3c6;
  padding: 1px;
  padding-left: 6px;
  padding-right: 6px;
}
#SemAdd:hover{
  background-color: rgba(150,150,150,.3);
}

//END ADD SEMESTER BUTTON

.Category{
  display: none;
  border-radius: 5px;
  background-color: rgba(100,100,100,.75);
  //background: grey none repeat scroll 0 0;
  background: #cccccc;
  background: -webkit-linear-gradient(#cccccc, grey); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#cccccc, grey); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#cccccc, grey); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#cccccc, grey); /* Standard syntax */
  //background: #282828 none repeat scroll 0 0;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
  color: #282828;
}
.Category h5{color: #282828;}

//CLASS CARDS

.ClassCard{
  display: none;
  background: #282828 none repeat scroll 0 0;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
  border-radius: 5px;
  color: #fff;
  //font-size: 0.938em;
  //font-weight: 300;
  font-size: 0.9em;
  font-weight: 300;

}
.ClassCard p{
  padding-top: .1em;
  padding-bottom: .3em;
  margin-bottom: 0em;
}
.CCDescription p{
  margin-right: 5px;
  margin-bottom:5px;
}

// DROPPABLE

.droppable-CC.red {
  border: 2px dashed #c91111;
}
.droppable-CC.blue {
  border: 2px dashed #0f75da;
}
.droppable-CC.orange {
  border: 2px dashed #ff9c00;
}
.droppable-CC{
  background: #282828 none repeat scroll 0 0;

  list-style-type: none;
  padding: 0em 0.0em;
  /*padding: 0.5em 1em*/
  border-radius: 5px;
  height: 74px;
  width: 74px;
}
.droppable-CC ::after{
  clear: both;
  content: "";
  display: table;
}
.droppable-CC li{
  height: 70px;
  width: 70px;
  /*padding-top: .5em;*/
  /*padding-bottom: .5em;*/
  //margin: .05em .05em;
  margin: 0em;
  padding: 0em;
  float: left;
}
.Semester p{
  padding-bottom: 0em;
  padding-top: 5px;
  margin: 0em;
}
#Course{
  height: 70px;
  width: 70px;
  //font-size: 1.2em;
}

.droppable-2::after {
  clear: both;
  content: "";
  display: table;
}
.droppable-2 {
  background: #e4dfd6 none repeat scroll 0 0;
  border: 1px solid #dad3c6;
  border-radius: 2px;
  list-style-type: none;
  min-height: 4em;
  margin-top: 0em;
  margin-bottom: 5px;
  //padding: 0.25em .5em;
}
.droppable-2 li {
  float: left;
  padding: 0.5em;
}
.ink-label{
  margin-left: 0.2em;
}

.ink-label.blue, .ink-label.orange, .ink-label.red {
  //background: #0f75da none repeat scroll 0 0;
  //display: inline-block;
  position: relative;
  box-shadow: 0px 0px 5px black;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;}

.ink-tooltip.black {
  background: #282828 none repeat scroll 0 0;
  //display: inline-block;
  position: relative;
  box-shadow: 0px 0px 7px black;
  border: 1px solid #dad3c6;
  padding: 1em;
  border-radius: 5px;
  color: #fff;
  font-size: 0.938em;
  font-weight: 300;
  min-width: 20em;
}

.delete{
  background: 0,0,0,0;
  padding: 1px;
  padding-left: 4px;
  padding-right: 4px;
  color: #fff;
  border-radius: 3px;
}

.search{
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgray;
}
// Show/Hide delete button.
.delete {display: none;  }

.delete:hover{
  background: 0,0,0,0;
  color: red;
  border-color: rgb(255,0,0);  }

#Course:hover .delete{
  display: block
}