h1.blue, p.blue {
  //color: rgba(81, 203, 238, 1);
  color: #0f75da;
}
h1.red, p.red {
  color: #c91111;
}
h1.green, p.yellow{
  color: #ff9c00;
}


//HOME

.Home {

  h1 {
    font-weight: 300;
    font-size: 3em;

  }
  p {
    font-weight: 300;
  }

  .Register {
    background: rgba(255, 255, 255, 0.1) none repeat scroll 0 0;
    //-webkit-box-shadow: 0px 0px 5px 2px rgba(81, 203, 238, .75);
    //-moz-box-shadow:    0px 0px 5px 2px rgba(81, 203, 238, .75);
    //box-shadow:         0px 0px 5px 2px rgba(81, 203, 238, .75);
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .75);
    -moz-box-shadow:    0px 0px 5px 2px rgba(0, 0, 0, .75);
    box-shadow:         0px 0px 5px 2px rgba(0, 0, 0, .75);

    .RegButton {
      padding-top: 15px;
    }

    h1 {
     font-size: 2em;
    }
  }
  .ink-button.black {
    border-radius: 3px;
  }
  .ink-button.black:hover {
    //background: #4d4d4d;
    //background: -webkit-linear-gradient(#1e1e1e, #4d4d4d); /* For Safari 5.1 to 6.0 */
    //background: -o-linear-gradient(#1e1e1e, #4d4d4d); /* For Opera 11.1 to 12.0 */
    //background: -moz-linear-gradient(#1e1e1e, #4d4d4d); /* For Firefox 3.6 to 15 */
    //background: linear-gradient(#1e1e1e, #4d4d4d); /* Standard syntax */
    -webkit-box-shadow: 0px 0px 3px 2px rgba(81, 203, 238, 1);
    -moz-box-shadow:    0px 0px 3px 2px rgba(81, 203, 238, 1);
    box-shadow:         0px 0px 3px 2px rgba(81, 203, 238, 1);

  }
  section.module.parallax-1 {
    background: image-url("plan4.jpg");
    background-size: cover;
  }
  section.module.parallax-2 {
    background: image-url("students1.jpg");
    background-size: cover;
  }

}
//END HOME

//ABOUT
.About{
  h1 {
    font-weight: 300;
    font-size: 3em;
  }
  h2 {
    font-weight: 300;
    font-size: 3em;
  }
  h3 {
    font-weight: 300;
  }
  p {
    font-weight: 300;
  }
  section.module.parallax-1 {
    background: image-url("home2.jpeg");
    background-size: cover;
  }
  section.module.parallax h1 {
    font-size: 6em;
  }
}
//END ABOUT

//PARALLAX
/* ============================================================
  PRIMARY STRUCTURE
============================================================ */
.container {
  max-width: 960px;
  margin: 0 auto;
}

/* ============================================================
  SECTIONS
============================================================ */
section.module:last-child {
  margin-bottom: 0;
}
section.module h2 {
  margin-bottom: 40px;
  //font-family: "Roboto Slab", serif;
  //font-size: 30px;
  font-weight: 300;
  line-height: 24px;
}
section.module p {
  margin-bottom: 40px;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
section.module p:last-child {
  margin-bottom: 0;
}
section.module.content {
  padding: 40px 0;
}
section.module.parallax {
  padding: 240px 0;
  background-position: 0 0;
}
section.module.parallax h1 {
  color: #1e1e1e;
  font-size: 48px;
  //line-height: 1;
  font-weight: 300;
  line-height: 24px;
  //font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 0 5px white;
}
section.module.parallax h3 {
  color: white;
  font-size: 40px;
  //line-height: 1;
  font-weight: 300;
  line-height: 24px;
  //font-weight: 700;
  text-align: center;
  text-shadow: 0 0 5px black;
}
section.module.parallax-1 {
  -moz-box-shadow:    inset  0  8px 8px -8px #000000,
  inset  0 -8px 8px -8px #000000;
  -webkit-box-shadow: inset  0  8px 8px -8px #000000,
  inset  0 -8px 8px -8px #000000;
  box-shadow:         inset  0  8px 8px -8px #000000,
  inset  0 -8px 8px -8px #000000;
}
section.module.parallax-2 {
  -moz-box-shadow:    inset  0  8px 8px -8px #000000,
  inset  0 -8px 8px -8px #000000;
  -webkit-box-shadow: inset  0  8px 8px -8px #000000,
  inset  0 -8px 8px -8px #000000;
  box-shadow:         inset  0  8px 8px -8px #000000,
  inset  0 -8px 8px -8px #000000;
}

@media all and (min-width: 600px) {
  section.module h2 {
    font-size: 42px;
  }
  section.module p {
    font-size: 20px;
  }
  section.module.parallax {
    padding: 200px 0;
  }
  section.module.parallax h1 {
    font-size: 48px;
  }
}
@media all and (min-width: 960px) {
  section.module.parallax h1 {
    font-size: 100px;
  }
}