// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.Title {
  //  background-color: #4587F0;
  background-color: black;
}

div.Info {
  background-color: #9D9D9D;
  // display: inline-block;
}

span.Space {
  word-spacing: 32px;
}

.form-field {
  margin: 0 auto;
  //  padding: 5px;
  //  border-color: #9D9D9D;
  //  border: 2px gray solid;
  // border-color: #9D9D9D;
  width: 75%;
  // height: 80%;
  text-align: center;
}

#wrapper { //this wrapper not in use yet
  border: 2px solid #9d9d9d;
  display: inline-block;
}

.Register {
  background:rgba(255, 255, 255, 0.7);

  -webkit-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.5);
  box-shadow: 0px 3px 5px 2px rgba(0,0,0,0.5);
  border-radius: 2px;

  font-weight: 300;
  //line-height: 24px;

  h1, h5, legend {
    font-weight: 300;
    //line-height: 24px;
  }

  .ink-form .control-group input[type="radio"]{
    margin: 0.25em 0;
  }

  .ink-form fieldset legend + * {
    margin: 0 0;
  }

  .ink-form textarea, .ink-form input[type="text"], .ink-form input[type="email"], .ink-form input[type="password"] {
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;

  }
  .ink-form textarea:focus, .ink-form input[type="text"]:focus, .ink-form input[type="email"]:focus, .ink-form input[type="password"]:focus {
    box-shadow: 0 0 5px rgba(81, 203, 238, 1);
    border: 1px solid rgba(81, 203, 238, 1);
  }
}