<div class="Footer">
  <div class="ink-grid all-100">
    <div class="column-group all-100 push-middle">
      <div class="all-50 push-left ">
        <!--<h3>SARYAN</h3>-->
        <ul class="inline">
          <li><%= link_to("Home", root_path) %></li>
          <li><%= link_to("Login", login_path) %></li>
          <li><%= link_to("Register", register_path) %></li>
          <li>
            <% if logged_in? %>
                <%= link_to("Logout", logout_path) %>
            <% end %>
          </li>
        </ul>
      </div>
      <div class="all-50 push-right align-right push-middle right-padding">
        <p>copyright © SARYAN 2015</p>
      </div>
    </div>
  </div>
</div>